openapi: 3.2.0
info:
  title: ReadMe Recipes API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Recipes
  description: Manage interactive recipe content
paths:
  /recipes:
    get:
      tags:
      - Recipes
      summary: List Recipes
      responses:
        '200':
          description: Recipes
    post:
      tags:
      - Recipes
      summary: Create A Recipe
      responses:
        '201':
          description: Created
  /recipes/{slug}:
    get:
      tags:
      - Recipes
      summary: Get A Recipe
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recipe
    put:
      tags:
      - Recipes
      summary: Update A Recipe
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Recipes
      summary: Delete A Recipe
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
