openapi: 3.1.0
info:
  title: ReadMe Developer Metrics Analytics Custom Pages API
  description: The ReadMe Developer Metrics API powers the Developer Dashboard. It accepts API request logs from Metrics SDKs (Node.js, Python, Ruby, PHP, .NET) and exposes analytics including page quality scores, page view statistics, and search analytics so teams can investigate API usage by key or email and debug requests in real time.
  version: '1.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
servers:
- url: https://metrics.readme.io/v1
  description: ReadMe Metrics API
security:
- basicAuth: []
tags:
- name: Custom Pages
  description: Manage custom documentation pages
paths:
  /branches/{branch}/custom_pages:
    get:
      tags:
      - Custom Pages
      summary: List Custom Pages
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom pages
    post:
      tags:
      - Custom Pages
      summary: Create A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/custom_pages/{slug}:
    get:
      tags:
      - Custom Pages
      summary: Get A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom page
    put:
      tags:
      - Custom Pages
      summary: Update A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Custom Pages
      summary: Delete A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using your ReadMe API key as the username (password blank).
