openapi: 3.2.0
info:
  title: ReadMe Categories API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Categories
  description: Manage sidebar groupings
paths:
  /branches/{branch}/categories:
    get:
      tags:
      - Categories
      summary: List Categories
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Categories
    post:
      tags:
      - Categories
      summary: Create A Category
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/categories/{slug}:
    get:
      tags:
      - Categories
      summary: Get A Category
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Category
    put:
      tags:
      - Categories
      summary: Update A Category
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Categories
      summary: Delete A Category
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
