openapi: 3.2.0
info:
  title: ReadMe Custom Pages API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Custom Pages
  description: Manage custom documentation pages
paths:
  /branches/{branch}/custom_pages:
    get:
      tags:
      - Custom Pages
      summary: List Custom Pages
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom pages
      operationId: getBranchesByBranchCustomPages
      x-operation-id-source: derived
    post:
      tags:
      - Custom Pages
      summary: Create A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
      operationId: postBranchesByBranchCustomPages
      x-operation-id-source: derived
  /branches/{branch}/custom_pages/{slug}:
    get:
      tags:
      - Custom Pages
      summary: Get A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom page
      operationId: getBranchesByBranchCustomPagesBySlug
      x-operation-id-source: derived
    put:
      tags:
      - Custom Pages
      summary: Update A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
      operationId: putBranchesByBranchCustomPagesBySlug
      x-operation-id-source: derived
    delete:
      tags:
      - Custom Pages
      summary: Delete A Custom Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
      operationId: deleteBranchesByBranchCustomPagesBySlug
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
