openapi: 3.2.0
info:
  title: ReadMe AP Is API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: APIs
  description: Manage API definitions and reference pages
paths:
  /branches/{branch}/apis:
    get:
      tags:
      - APIs
      summary: List API Definitions
      description: Retrieve metadata for API definitions on a branch.
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: perPage
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Successful retrieval
        '401':
          description: Unauthorized
        '404':
          description: Branch not found
    post:
      tags:
      - APIs
      summary: Upload An API Definition
      responses:
        '201':
          description: Created
  /branches/{branch}/apis/{id}:
    get:
      tags:
      - APIs
      summary: Get An API Definition
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: API definition
    put:
      tags:
      - APIs
      summary: Update An API Definition
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - APIs
      summary: Delete An API Definition
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
