openapi: 3.2.0
info:
  title: ReadMe Guides API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Guides
  description: Manage knowledge base guide pages
paths:
  /branches/{branch}/guides:
    get:
      tags:
      - Guides
      summary: List Guide Pages
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of guides
    post:
      tags:
      - Guides
      summary: Create A Guide Page
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/guides/{slug}:
    get:
      tags:
      - Guides
      summary: Get A Guide By Slug
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Guide page
    put:
      tags:
      - Guides
      summary: Update A Guide
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Guides
      summary: Delete A Guide
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
