openapi: 3.2.0
info:
  title: ReadMe Changelog API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Changelog
  description: Manage changelog posts
paths:
  /branches/{branch}/changelogs:
    get:
      tags:
      - Changelog
      summary: List Changelog Posts
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Changelog posts
    post:
      tags:
      - Changelog
      summary: Create A Changelog Post
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/changelogs/{slug}:
    get:
      tags:
      - Changelog
      summary: Get A Changelog Post
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Changelog post
    put:
      tags:
      - Changelog
      summary: Update A Changelog Post
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Changelog
      summary: Delete A Changelog Post
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
