openapi: 3.1.0
info:
  title: ReadMe Developer Metrics API
  description: >-
    The ReadMe Developer Metrics API powers the Developer Dashboard. It accepts
    API request logs from Metrics SDKs (Node.js, Python, Ruby, PHP, .NET) and
    exposes analytics including page quality scores, page view statistics, and
    search analytics so teams can investigate API usage by key or email and
    debug requests in real time.
  version: '1.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
servers:
  - url: https://metrics.readme.io/v1
    description: ReadMe Metrics API
security:
  - basicAuth: []
tags:
  - name: Metrics
    description: Send API request metrics from server-side SDKs
  - name: Analytics
    description: Page view, quality, and search analytics
paths:
  /request:
    post:
      tags:
        - Metrics
      summary: Submit API Request Logs
      description: Send API request and response metadata (HAR-formatted) to ReadMe Metrics for analysis in the Developer Dashboard.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetricsRequest'
      responses:
        '202':
          description: Logs accepted for processing
        '401':
          description: Unauthorized
        '400':
          description: Invalid payload
  /quality:
    get:
      tags:
        - Analytics
      summary: Retrieve Page Quality Scores
      description: Returns quality scores produced by Docs Audit for the project's pages.
      responses:
        '200':
          description: Quality scores
  /pageviews:
    get:
      tags:
        - Analytics
      summary: Retrieve Page View Statistics
      parameters:
        - name: start
          in: query
          schema:
            type: string
            format: date
        - name: end
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Page view stats
  /search:
    get:
      tags:
        - Analytics
      summary: Retrieve Search Analytics
      responses:
        '200':
          description: Search analytics
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using your ReadMe API key as the username (password blank).
  schemas:
    MetricsRequest:
      type: object
      description: HAR-formatted log entry submitted by a ReadMe Metrics SDK.
      properties:
        _id:
          type: string
        group:
          type: object
          properties:
            id:
              type: string
            label:
              type: string
            email:
              type: string
        clientIPAddress:
          type: string
        development:
          type: boolean
        request:
          type: object
          description: HAR request object
        response:
          type: object
          description: HAR response object
