openapi: 3.2.0
info:
  title: ReadMe Branches API
  description: The ReadMe API (v2) lets you programmatically control your ReadMe developer hub. It manages API definitions, API reference pages, guides, changelog, custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
- url: https://api.readme.com/v2
  description: ReadMe API v2 base URL
- url: https://dash.readme.io/api/v1
  description: ReadMe API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: Branches
  description: Manage versions and branches
paths:
  /branches:
    get:
      tags:
      - Branches
      summary: List Branches
      responses:
        '200':
          description: Branches list
    post:
      tags:
      - Branches
      summary: Create A Branch
      responses:
        '201':
          description: Created
  /branches/{branch}:
    get:
      tags:
      - Branches
      summary: Get A Branch
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Branch
    put:
      tags:
      - Branches
      summary: Update A Branch
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Branches
      summary: Delete A Branch
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
