openapi: 3.1.0
info:
  title: ReadMe API
  description: >-
    The ReadMe API (v2) lets you programmatically control your ReadMe developer
    hub. It manages API definitions, API reference pages, guides, changelog,
    custom pages, categories, branches (versions), images, recipes, and search.
  version: '2.0'
  contact:
    name: ReadMe Support
    url: https://docs.readme.com
  license:
    name: Proprietary
    url: https://readme.com/tos
servers:
  - url: https://api.readme.com/v2
    description: ReadMe API v2 base URL
  - url: https://dash.readme.io/api/v1
    description: ReadMe API v1 (legacy)
security:
  - bearerAuth: []
tags:
  - name: APIs
    description: Manage API definitions and reference pages
  - name: Guides
    description: Manage knowledge base guide pages
  - name: Changelog
    description: Manage changelog posts
  - name: Custom Pages
    description: Manage custom documentation pages
  - name: Categories
    description: Manage sidebar groupings
  - name: Branches
    description: Manage versions and branches
  - name: Images
    description: Upload and manage images
  - name: Recipes
    description: Manage interactive recipe content
  - name: Search
    description: Search knowledge base content
  - name: API Keys
    description: Manage ReadMe API keys
paths:
  /branches/{branch}/apis:
    get:
      tags:
        - APIs
      summary: List API Definitions
      description: Retrieve metadata for API definitions on a branch.
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Successful retrieval
        '401':
          description: Unauthorized
        '404':
          description: Branch not found
    post:
      tags:
        - APIs
      summary: Upload An API Definition
      responses:
        '201':
          description: Created
  /branches/{branch}/apis/{id}:
    get:
      tags:
        - APIs
      summary: Get An API Definition
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API definition
    put:
      tags:
        - APIs
      summary: Update An API Definition
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - APIs
      summary: Delete An API Definition
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /branches/{branch}/guides:
    get:
      tags:
        - Guides
      summary: List Guide Pages
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of guides
    post:
      tags:
        - Guides
      summary: Create A Guide Page
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/guides/{slug}:
    get:
      tags:
        - Guides
      summary: Get A Guide By Slug
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Guide page
    put:
      tags:
        - Guides
      summary: Update A Guide
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Guides
      summary: Delete A Guide
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /branches/{branch}/changelogs:
    get:
      tags:
        - Changelog
      summary: List Changelog Posts
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Changelog posts
    post:
      tags:
        - Changelog
      summary: Create A Changelog Post
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/changelogs/{slug}:
    get:
      tags:
        - Changelog
      summary: Get A Changelog Post
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Changelog post
    put:
      tags:
        - Changelog
      summary: Update A Changelog Post
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Changelog
      summary: Delete A Changelog Post
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /branches/{branch}/custom_pages:
    get:
      tags:
        - Custom Pages
      summary: List Custom Pages
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Custom pages
    post:
      tags:
        - Custom Pages
      summary: Create A Custom Page
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/custom_pages/{slug}:
    get:
      tags:
        - Custom Pages
      summary: Get A Custom Page
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Custom page
    put:
      tags:
        - Custom Pages
      summary: Update A Custom Page
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Custom Pages
      summary: Delete A Custom Page
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /branches/{branch}/categories:
    get:
      tags:
        - Categories
      summary: List Categories
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Categories
    post:
      tags:
        - Categories
      summary: Create A Category
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
  /branches/{branch}/categories/{slug}:
    get:
      tags:
        - Categories
      summary: Get A Category
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Category
    put:
      tags:
        - Categories
      summary: Update A Category
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Categories
      summary: Delete A Category
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /branches:
    get:
      tags:
        - Branches
      summary: List Branches
      responses:
        '200':
          description: Branches list
    post:
      tags:
        - Branches
      summary: Create A Branch
      responses:
        '201':
          description: Created
  /branches/{branch}:
    get:
      tags:
        - Branches
      summary: Get A Branch
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Branch
    put:
      tags:
        - Branches
      summary: Update A Branch
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Branches
      summary: Delete A Branch
      parameters:
        - name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /images:
    post:
      tags:
        - Images
      summary: Upload An Image
      responses:
        '201':
          description: Image uploaded
  /recipes:
    get:
      tags:
        - Recipes
      summary: List Recipes
      responses:
        '200':
          description: Recipes
    post:
      tags:
        - Recipes
      summary: Create A Recipe
      responses:
        '201':
          description: Created
  /recipes/{slug}:
    get:
      tags:
        - Recipes
      summary: Get A Recipe
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recipe
    put:
      tags:
        - Recipes
      summary: Update A Recipe
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - Recipes
      summary: Delete A Recipe
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
  /search:
    get:
      tags:
        - Search
      summary: Search Knowledge Base
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results
  /apikeys:
    get:
      tags:
        - API Keys
      summary: List API Keys
      responses:
        '200':
          description: API keys
    post:
      tags:
        - API Keys
      summary: Create An API Key
      responses:
        '201':
          description: Created
  /apikeys/{id}:
    delete:
      tags:
        - API Keys
      summary: Delete An API Key
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use your ReadMe API key as a Bearer token in the Authorization header.
  schemas:
    APIDefinition:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        version:
          type: string
        source:
          type: string
          description: api | upload | url | rdme
        updatedAt:
          type: string
          format: date-time
    Guide:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        body:
          type: string
        category:
          type: string
        hidden:
          type: boolean
        updatedAt:
          type: string
          format: date-time
    ChangelogPost:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        body:
          type: string
        type:
          type: string
          description: added | fixed | improved | deprecated | removed
        publishedAt:
          type: string
          format: date-time
    CustomPage:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        body:
          type: string
        htmlmode:
          type: boolean
    Category:
      type: object
      properties:
        slug:
          type: string
        title:
          type: string
        type:
          type: string
          description: guide | reference
        order:
          type: integer
    Branch:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        isStable:
          type: boolean
        isBeta:
          type: boolean
        isDeprecated:
          type: boolean
    APIKey:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        createdAt:
          type: string
          format: date-time
